body {
    font-family: Verdana;
    background-color: #FAFAFA;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    z-index: 99;
    position: fixed;
    width: 100%;
    background-color: black;
    padding: 5px;
}

nav a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

nav img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    filter: contrast(200%);
}

nav button {
    position: absolute;
    top: 5px;
    left: 10px;
    bottom: 607.5px;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    font-size: 35px;
    border: none;
}

nav button:hover {
    color: lightgray;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.button:hover {
    background-color: #0056b3;
}

.title {
    margin-left: 3vw;
    color: #a81b43;
    position: absolute;
}


#katana {
    z-index: 0;
}

h1 {
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    margin-left: 2vw;
    margin-top: 0;
    z-index: 1;
    font-size: 10vw;
}

h2 {
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    z-index: 10;
    margin-left: 3vw;
    font-size: 8vw;
}

.title p {
    font-family: "Liu Jian Mao Cao", cursive;
    margin-bottom: 0;
    font-size: 8vw;
}


#slogan {
    font-family: sans-serif;
    margin-left: 2vw;
    margin-bottom: 0;
    font-size: 5vw;
    color: #d3ebe9;
    font-weight: bolder;
}

#histoire {
    font-family: "Merienda", cursive;
  font-optical-sizing: auto;
    line-height: 1.5;
    font-weight: 100;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 4vw;
    font-size: 3vw;
}

.armor {
  position: relative;
  display: inline-block;
}

.armor img {
  display: block;
  width: 100%;
  height: auto;
}

.install {
    font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  font-size: 3vw; 
  text-align: center;
}

#install-text {
    background-color: rgb(153, 34, 34, 0.2);
    text-decoration: none;
    color: #992222;
    border-color: #992222;
    padding: 15px;
    border-style: solid;
    border-radius: 15px;
    transition-duration: 0.2s;
}

#install-text:hover {
text-shadow:
    0 0 2px #fff,
    0 0 4px #fff,
    0 0 15px #fff,
    0 0 36px #992222,
    0 0 76px #992222,
    0 0 86px #992222,
    0 0 96px #992222,
    0 0 145px #992222;

    font-size: 3.03vw;
    background-color: #992222;
    color: #fff;
    border-style: none;
    border-color: ;
    padding: 15px;
    border-radius: 15px;
}

footer {
    font-weight: 100;
    font-size: 15.8px;
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}

 /* The Overlay (background) */
.overlay {   
  height: 0;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  /*background-color: rgba(0,0,0, 0.1); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 30%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: -13px;
  left: 2px;
  font-size: 47px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
} 