body {
    font-family: Arial, sans-serif;
    background-color: white;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    z-index: 99;
    position: fixed;
    width: 100%;
    background-color: black;
    padding: 5px;
}

nav a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

nav img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    filter: contrast(200%);
}

nav button {
    position: absolute;
    top: 5px;
    left: 10px;
    bottom: 607.5px;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    font-size: 35px;
    border: none;
}

nav button:hover {
    color: white;
    cursor: pointer;
}

.hero {
    color: black;
    font-family: "Josefin Sans", sans-serif;
    text-align: left;
    padding: 50px;
}

.hero h2 {
    text-align: left;
    margin-bottom: 20px;
    font-size: 100px;
}

.hero h1 {
    font-size: 50px;
    text-decoration: blink;
    background: url("../media/highlight.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.hero p {
    font-size: 20px;
}

.hero a {
    text-decoration: none;
    color: blue;
}

.hero img {
    z-index: -1;
    border-radius: 200px;
    width: 170px;
    transition: .3s;
}

.hero img:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
}

#b-corp {
    width: 7vw;
}

.hero th {
    text-align: center;
    font-size: 30px;
}

.hero td {
    text-align: center;
}

.desc {
    font-style: italic;
}

#timeline {
    position: relative;
    width: 100%;
}

footer {
    background-color: black;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}

 /* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 0;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  /*background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  z-index: 100;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: -13px;
  left: 6px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
} 
